/* Added Google Font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* Common Style */
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    list-style: none;
}

body {
    max-width: 1600px;
    margin: 0 auto;
}

/* All Button Style */
.header_btn {
    background-color: #F15B22;
    color: #fff;
    border: 0;
    padding: 20px 35px;
    font-size: 20px;
    border-radius: 5px;
}

.contact_btn {
    background-color: #fff;
    color: #F15B22;
    border: 0;
    padding: 20px 35px;
    font-size: 20px;
    border-radius: 8px;
}

.btn_submit {
    background-color: #fff;
    color: #F15B22;
    border: 0;
    padding: 20px 35px;
    font-size: 20px;
    border-radius: 8px;
    font-weight: 700;
}


/* Header Section Style  */
header {
    background-image: url("../images/banner/banner1.png");
    height: 720px;
    padding: 85px 230px;
    background-repeat: no-repeat;
}

.header_text_container {
    width: 470px;
    margin-left: 660px;
    text-align: right;
    margin-top: 60px;
}

.header_title {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    color: #151414;
    text-transform: capitalize;
}

.section_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    text-transform: capitalize;
    border-left: 20px solid #F15B22;
    padding: 10px;
    border-radius: 25px;
}

.section_description {
    line-height: 26px;
    color: #444343;
    padding: 30px 0px 30px 10px;
    font-size: 20px;
}

/* Main Section Style */
.main {
    margin: 0px 230px;
}

/* Failure Section Style */
.why_i_am_failure {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
}

.failure_img {
    flex-basis: 45%;
}

.failure_text {
    flex-basis: 40%;
}

.failure_text ul li {
    font-size: 20px;
    line-height: 30px;
}

.color_icon {
    color: #12BEB9;
}

/* skill Section and Future Plan Section */
.skills {
    margin-top: 100px;
}

.skill_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 120px;
}

.skill_section_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    text-transform: capitalize;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}

.skill_details img {
    width: 93px;
    height: 93px;
}

.skill_title {
    font-size: 30px;
    font-weight: 700;
    color: #151414;
}

.skill_description {
    font-size: 25px;
    font-weight: 505;
    color: #737273;
    margin-top: 40px;
}

/* For Plan */
.plan {
    margin-top: 80px;
    padding-top: 50px;
    background-color: beige;
    padding-left: 20px;
    padding-right: 20px;
}

.plan_container {
    gap: 4%;
    padding-bottom: 50px;
}

.plan_items {
    flex-basis: 23%;
}

/* contact Section */

.contact_section {
    padding: 60px;
    background-image: linear-gradient(90deg, #F15B22, rgba(241, 91, 34, 0)), url("../images/watch.png");
    border-radius: 8px;
    background-repeat: no-repeat;
    color: #fff;
    margin-bottom: 130px;
}

.contact_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: capitalize;
    padding: 10px;
    border-radius: 15px;
}



/* footer Section */
footer {
    padding: 130px 230px;
    background-color: #151414;
    color: #fff;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    gap: 20%;
}

.address {
    flex-basis: 50%;
}

.address h3 {
    font-size: 45px;
    font-weight: 700;
}

.address p {
    line-height: 26px;
}

.subscribe {
    flex-basis: 35%;

}

.subscribe h3 {
    font-size: 25px;
    font-weight: 600;
    margin: 30px 0;
}

.subscribe input {
    padding: 15px;
    width: 80%;
    font-size: 18px;
    background: #000;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
}

/* Social Icon Section */
.follow_me {
    margin-top: 30px;
}

.social_icon {
    margin-top: 20px;
}

.social_icon a {
    color: #fff;
    padding-right: 15px;
    font-size: 20px;
}